<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h1>You created a contact!</h1>
    <p>{{ new_contact.getDescription }}</p>
    <p><a href='/'>View Created Contact</a></p>
</body>
</html>
